body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-top: 10px;
  font-size: 14px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 8px;
  border: none;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

.trade {
  background: #334155;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
}
