<!DOCTYPE html>
<html lang="ar">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Media Downloader</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<div class="container">

  <h1>Media Downloader</h1>

  <p>Download Videos & Audio From Any Platform</p>

  <input
    type="text"
    placeholder="Paste your link here..."
  >

  <button>Download</button>

  <div class="platforms">
    🎥 YouTube &nbsp;
    📸 Instagram &nbsp;
    🎵 TikTok &nbsp;
    ✖ X &nbsp;
    📘 Facebook
  </div>

</div>

<script src="/static/js/script.js"></script>

</body>
</html>
